.card, .card-services{
    border: 2px solid gray;
    padding: 2rem 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    border-radius: 1rem;
    
}

.card-services{
    border: 2px solid gainsboro;
    display: flex;
    justify-content: centerw;
    align-items: flex-start;
    padding: 1rem;
    height: 300px;
    width: 250px;
    
}

.top-data-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color);
}

.top-data-text > p{
    width: 50%;
    text-align: center;
    color: var(--color);
}



.card-latest-work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width:90%;
    position: absolute;
    top: 60%;
    padding: 12px;
    left: 5px;
    border-radius: 0.7rem;
    
}

.latest-work-heading{
    font-size: 19px;
    
    color: var(--color);
}
.latest-work-sub-heading{
    font-size: 16px;
    color: var(--color);
}

.card-latest-work-parent{
    position: relative;
    border: 3px solid transparent;
}


.latest-work-image-parent{
    height: 300px;
    width: 270px;
}


.latest-work-image-parent > img {
    height: 100%;
    width: 100%;
}