.header {
    padding: 1rem 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    box-shadow: 1px 1px 10px 2px #888888;
    z-index: 10;
}

.header-list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    border: 1px solid var(--border-color);
    border-radius: 7rem;
    padding: 1rem;
    color: var(--text-color);
}

.name-dot {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 100%;
    background-color: orangered;
    right: -0.8rem;
    bottom: 0.4rem;
}


.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--text-color);
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.contact-button {
    background: none;
    padding: 0.7rem 2rem;
    border: 2px solid black;
    border-radius: 4rem;
    color:var(--text-color);
    border: 1px solid var(--border-color);

}
.contact-button:hover{
    background-color: rgb(228, 26, 26);
}

.li-button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: var(--text-color);

}

.icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var( --text-color);
    
}