.main-component-wrapper {
  padding: 1rem 7rem;
  background-color: var(--background-color);
}

.about-me-main {
  height: calc(100vh - 3rem);
}

@media screen and (max-width: 600px ){
  .main-component-wrapper{width: 850px;}
}